# 1.5 練習問題

In [1]:
ENV["LINES"] = 10
ENV["COLUMNS"] = 1000

1000

In [38]:
using DataFrames, DataFramesMeta, CSV, Statistics

## 1.5.1

In [31]:
turnout_df = CSV.read("../../data/INTRO/bias-in-turnout/data/turnout.csv", DataFrame, missingstring=["NA"])

14×9 DataFrame
 Row │ year   VEP     VAP     total   ANES   felons  noncit  overseas  osvoters
     │ Int64  Int64   Int64   Int64   Int64  Int64   Int64   Int64     Int64?
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  1980  159635  164445   86515     71     802    5756      1803   missing
  ⋮  │   ⋮      ⋮       ⋮       ⋮       ⋮      ⋮       ⋮        ⋮         ⋮
                                                                 13 rows omitted

In [32]:
describe(turnout_df)

9×7 DataFrame
 Row │ variable  mean           min     median         max     nmissing  eltype
     │ Symbol    Float64        Int64   Float64        Int64   Int64     Type
─────┼─────────────────────────────────────────────────────────────────────────────────────────
   1 │ year       1993.14         1980    1993.0         2008         0  Int64
  ⋮  │    ⋮            ⋮          ⋮           ⋮          ⋮        ⋮                ⋮
                                                                                 8 rows omitted

In [33]:
turnout_df = @chain turnout_df begin
    @rtransform begin
        @astable begin
            :est_vote_VAP = :total / (:VAP + :overseas - :felons - :noncit) * 100
            :est_vote_VEP = :total / :VEP * 100
        end
    end
end

14×11 DataFrame
 Row │ year   VEP     VAP     total   ANES   felons  noncit  overseas  osvoters  est_vote_VAP  est_vote_VEP
     │ Int64  Int64   Int64   Int64   Int64  Int64   Int64   Int64     Int64?    Float64       Float64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  1980  159635  164445   86515     71     802    5756      1803   missing       54.1768       54.1955
  ⋮  │   ⋮      ⋮       ⋮       ⋮       ⋮      ⋮       ⋮        ⋮         ⋮           ⋮             ⋮
                                                                                             13 rows omitted

In [34]:
@chain turnout_df begin
    @rtransform begin
        :diff_vote_VAP = :est_vote_VAP - :ANES
        :diff_vote_VEP = :est_vote_VEP - :ANES
    end
    @select(:diff_vote_VAP, :diff_vote_VEP)
    describe
end

2×7 DataFrame
 Row │ variable       mean      min       median    max       nmissing  eltype
     │ Symbol         Float64   Float64   Float64   Float64   Int64     DataType
─────┼───────────────────────────────────────────────────────────────────────────
   1 │ diff_vote_VAP  -16.8151  -22.486   -16.8401  -8.59171         0  Float64
   2 │ diff_vote_VEP  -16.8363  -22.4894  -16.8927  -8.58105         0  Float64

In [68]:
@chain turnout_df begin
    @rtransform begin
        :diff_vote_VAP = :est_vote_VAP - :ANES
        :diff_vote_VEP = :est_vote_VEP - :ANES
        :is_president_voting = rem(:year, 4) == 0 ? 1 : 0
    end
    @select(:is_president_voting, :diff_vote_VAP, :diff_vote_VEP)
    groupby(:is_president_voting)
    @combine begin
        :mean_diff_vote_VAP = mean(:diff_vote_VAP)
        :mean_diff_vote_VEP = mean(:diff_vote_VEP)
    end
end

2×3 DataFrame
 Row │ is_president_voting  mean_diff_vote_VAP  mean_diff_vote_VEP
     │ Int64                Float64             Float64
─────┼─────────────────────────────────────────────────────────────
   1 │                   0            -15.4226            -15.4288
   2 │                   1            -17.8595            -17.892

In [65]:
@chain turnout_df begin
    @rtransform begin
        :diff_vote_VAP = :est_vote_VAP - :ANES
        :diff_vote_VEP = :est_vote_VEP - :ANES
    end
    @transform begin
        :is_first = ifelse.(:year .<= mean(:year), 1, 0)
    end
    @select(:is_first, :diff_vote_VAP, :diff_vote_VEP)
    groupby(:is_first)
    @combine begin
        :mean_diff_vote_VAP = mean(:diff_vote_VAP)
        :mean_diff_vote_VEP = mean(:diff_vote_VEP)
    end
end

2×3 DataFrame
 Row │ is_first  mean_diff_vote_VAP  mean_diff_vote_VEP
     │ Int64     Float64             Float64
─────┼──────────────────────────────────────────────────
   1 │        0            -17.7883            -17.8189
   2 │        1            -15.8419            -15.8538

In [67]:
@chain turnout_df begin
    @rsubset(:year == 2008)
    @rtransform begin
        :vote_VAP = :total / (:VAP + :overseas) * 100
        :vote_VEP = :total / (:VEP) * 100
        :vote_adj_VAP = (:total - :osvoters) / (:VAP - :felons - :noncit) * 100
    end
    @select(:ANES, :vote_VAP, :vote_VEP, :vote_adj_VAP)
end

1×4 DataFrame
 Row │ ANES   vote_VAP  vote_VEP  vote_adj_VAP
     │ Int64  Float64   Float64   Float64
─────┼─────────────────────────────────────────
   1 │    78   55.6741   61.5543       62.8992

## 1.5.2

In [69]:
kenya_df = CSV.read("../../data/INTRO/population-dynamics/data/Kenya.csv", DataFrame, missingstring=["NA"])
sweden_df = CSV.read("../../data/INTRO/population-dynamics/data/Sweden.csv", DataFrame, missingstring=["NA"])
world_df = CSV.read("../../data/INTRO/population-dynamics/data/World.csv", DataFrame, missingstring=["NA"])

30×7 DataFrame
 Row │ country  period     age      births   deaths        py.men     py.women
     │ String7  String15   String7  Float64  Float64       Float64    Float64
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ WORLD    1950-1955  0-4          0.0      1.0109e5  9.46911e5  9.04909e5
  ⋮  │    ⋮         ⋮         ⋮        ⋮          ⋮            ⋮          ⋮
                                                                 29 rows omitted

In [76]:
function calculate_CBR(df)::DataFrame
    df = @chain df begin
        rename("py.men" => :py_men, "py.women" => :py_women)
        @rtransform :py = :py_men + :py_women
        groupby(:period)
        @combine begin
            :births_total = sum(:births)
            :py_total = sum(:py)
        end
        @rtransform :CBR = :births_total / :py_total
    end
    return df
end

println(calculate_CBR(kenya_df))
println(calculate_CBR(sweden_df))
println(calculate_CBR(world_df))

2×4 DataFrame
 Row │ period     births_total  py_total       CBR
     │ String15   Float64       Float64        Float64
─────┼───────────────────────────────────────────────────
   1 │ 1950-1955       1672.49  32104.7        0.0520949
   2 │ 2005-2010       7275.25      1.88894e5  0.0385151
2×4 DataFrame
 Row │ period     births_total  py_total  CBR
     │ String15   Float64       Float64   Float64
─────┼──────────────────────────────────────────────
   1 │ 1950-1955       548.069   35597.8  0.0153961
   2 │ 2005-2010       546.474   45823.9  0.0119255

2×4 DataFrame
 Row │ period     births_total  py_total   CBR
     │ String15   Float64       Float64    Float64
─────┼───────────────────────────────────────────────
   1 │ 1950-1955     4.88892e5  1.3097e7   0.0373286
   2 │ 2005-2010     6.74581e5  3.33688e7  0.0202159

In [90]:
function calc_total_ASFR(df)::DataFrame
    f(x) = 1 <= parse(Int64, split(replace(x, "+"=>"-"), "-")[1]) / 15 <= 3
    df = @chain df begin
        rename("py.men" => :py_men, "py.women" => :py_women)
        @rsubset(f(:age))
        groupby(:period)
        @combine begin
            :births_total = sum(:births)
            :py_women_total = sum(:py_women)
        end
        @rtransform :ASFR = :births_total / :py_women_total
    end
    return df
end
println(calc_total_ASFR(kenya_df))
println(calc_total_ASFR(sweden_df))
println(calc_total_ASFR(world_df))

2×4 DataFrame
 Row │ period     births_total  py_women_total  ASFR
     │ String15   Float64       Float64         Float64
─────┼───────────────────────────────────────────────────
   1 │ 1950-1955       1672.49         7131.05  0.234537
   2 │ 2005-2010       7275.25        45946.3   0.158342
2×4 DataFrame
 Row │ period     births_total  py_women_total  ASFR
     │ String15   Float64       Float64         Float64
─────┼────────────────────────────────────────────────────
   1 │ 1950-1955       548.069         8724.88  0.0628168
   2 │ 2005-2010       546.474        10308.4   0.0530123
2×4 DataFrame
 Row │ period     births_total  py_women_total  ASFR
     │ String15   Float64       Float64         Float64
─────┼────────────────────────────────────────────────────
   1 │ 1950-1955     4.88892e5       3.22217e6  0.151728
   2 │ 2005-2010     6.74581e5       8.68057e6  0.0777116

In [93]:
function calc_TFR(df)::DataFrame
    f(x) = 1 <= parse(Int64, split(replace(x, "+"=>"-"), "-")[1]) / 15 <= 3
    df = @chain df begin
        rename("py.men" => :py_men, "py.women" => :py_women)
        @rsubset(f(:age))
        groupby([:period, :age])
        @combine begin
            :births_total = sum(:births)
            :py_women_total = sum(:py_women)
        end
        @rtransform :ASFR = :births_total / :py_women_total
        groupby(:period)
        @combine :TFR = sum(:ASFR * 5)
    end
    return df
end
# (calc_TFR(kenya_df))
println(calc_TFR(kenya_df))
println(calc_TFR(sweden_df))
println(calc_TFR(world_df))

2×2 DataFrame
 Row │ period     TFR
     │ String15   Float64
─────┼────────────────────
   1 │ 1950-1955  7.59141
   2 │ 2005-2010  4.87957
2×2 DataFrame
 Row │ period     TFR
     │ String15   Float64
─────┼────────────────────
   1 │ 1950-1955  2.22692
   2 │ 2005-2010  1.90276
2×2 DataFrame
 Row │ period     TFR
     │ String15   Float64
─────┼────────────────────
   1 │ 1950-1955  5.00725
   2 │ 2005-2010  2.54362

In [94]:
function calculate_CDR(df)::DataFrame
    df = @chain df begin
        rename("py.men" => :py_men, "py.women" => :py_women)
        @rtransform :py = :py_men + :py_women
        groupby(:period)
        @combine begin
            :deaths_total = sum(:deaths)
            :py_total = sum(:py)
        end
        @rtransform :CDR = :deaths_total / :py_total
    end
    return df
end

println(calculate_CDR(kenya_df))
println(calculate_CDR(sweden_df))
println(calculate_CDR(world_df))

2×4 DataFrame
 Row │ period     deaths_total  py_total       CDR
     │ String15   Float64       Float64        Float64
─────┼───────────────────────────────────────────────────
   1 │ 1950-1955       769.311  32104.7        0.0239625
   2 │ 2005-2010      1962.44       1.88894e5  0.0103891
2×4 DataFrame
 Row │ period     deaths_total  py_total  CDR
     │ String15   Float64       Float64   Float64
─────┼───────────────────────────────────────────────
   1 │ 1950-1955       350.455   35597.8  0.00984484
   2 │ 2005-2010       456.793   45823.9  0.00996846
2×4 DataFrame
 Row │ period     deaths_total  py_total   CDR
     │ String15   Float64       Float64    Float64
─────┼────────────────────────────────────────────────
   1 │ 1950-1955     2.53019e5  1.3097e7   0.0193189
   2 │ 2005-2010     2.72492e5  3.33688e7  0.00816608

In [95]:
function calc_ASDR(df)::DataFrame
    df = @chain df begin
        rename("py.men" => :py_men, "py.women" => :py_women)
        @rsubset(:period == "2005-2010")
        @rtransform begin
            :ASDR = :deaths / (:py_men + :py_women)
        end 
    end
    return df
end
println(calc_ASDR(kenya_df))
println(calc_ASDR(sweden_df))
println(calc_ASDR(world_df))

15×9 DataFrame
 Row │ country  period     age      births    deaths   py_men     py_women   l_x       ASDR
     │ String3  String15   String7  Float64   Float64  Float64    Float64    Float64   Float64
─────┼────────────────────────────────────────────────────────────────────────────────────────────
   1 │ KEN      2005-2010  0-4         0.0    661.251  15932.6    15674.8    100000.0  0.0209208
   2 │ KEN      2005-2010  5-9         0.0     76.725  13254.0    13100.1     90959.1  0.0029113
   3 │ KEN      2005-2010  10-14       0.0     66.137  11380.9    11277.4     89360.4  0.00291889
   4 │ KEN      2005-2010  15-19    1063.63    62.441  10641.0    10575.9     88101.9  0.00294299
   5 │ KEN      2005-2010  20-24    2285.72    75.375   9707.67    9692.04    86830.0  0.00388537
   6 │ KEN      2005-2010  25-29    1868.31   105.366   8046.14    8020.33    85158.5  0.00655813
   7 │ KEN      2005-2010  30-34    1119.29   132.677   6324.06    6188.02    82430.7  0.0106039
   8 │ KEN      2005-2010  35-39     611.44   131.216   4794.93    4657.95    78352.8  0.0138811
   9 │ KEN      2005-2010  40-44     208.039   98.897   3641.84    3697.67    72998.7  0.0134746
  10 │ KEN      2005-2010  45-49     118.814   67.807   2892.61    3114.36    68493.4  0.0112881
  11 │ KEN      2005-2010  50-54       0.0     55.204   2353.85    2596.14    64781.9  0.0111523
  12 │ KEN      2005-2010  55-59       0.0     52.216   1790.57    1966.43    61285.6  0.0138983
  13 │ KEN      2005-2010  60-69       0.0    111.775   2076.31    2325.05    57288.7  0.0253955
  14 │ KEN      2005-2010  70-79       0.0    149.509   1122.98    1317.52    44378.1  0.0612616
  15 │ KEN      2005-2010  80+         0.0    115.845    329.133    401.195   23198.3  0.158621
15×9 DataFrame
 Row │ country  period     age      births   deaths   py_men    py_women  l_x       ASDR
     │ String3  String15   String7  Float64  Float64  Float64   Float64   Float64   Float64
─────┼──────────────────────────────────────────────────────────────────────────────────────────
   1 │ SWE      2005-2010  0-4        0.0      1.801  1361.94    1290.21  100000.0  0.000679071
   2 │ SWE      2005-2010  5-9        0.0      0.191  1204.16    1142.83   99675.2  8.13809e-5
   3 │ SWE      2005-2010  10-14      0.0      0.32   1445.9     1372.25   99631.1  0.00011355
   4 │ SWE      2005-2010  15-19      9.0      0.832  1588.19    1507.31   99584.8  0.000268778
   5 │ SWE      2005-2010  20-24     69.501    1.318  1435.88    1369.96   99440.6  0.000469734
   6 │ SWE      2005-2010  25-29    155.772    1.354  1399.64    1340.45   99205.0  0.000494144
   7 │ SWE      2005-2010  30-34    193.185    1.503  1511.59    1460.49   98966.0  0.000505707
   8 │ SWE      2005-2010  35-39     98.987    2.155  1639.97    1581.45   98717.4  0.000668958
   9 │ SWE      2005-2010  40-44     19.122    3.336  1637.46    1572.52   98386.3  0.00103926
  10 │ SWE      2005-2010  45-49      0.907    5.31   1524.39    1476.25   97871.5  0.00176962
  11 │ SWE      2005-2010  50-54      0.0      8.59   1450.93    1423.21   97027.0  0.00298871
  12 │ SWE      2005-2010  55-59      0.0     14.466  1541.47    1529.92   95583.2  0.00470991
  13 │ SWE      2005-2010  60-69      0.0     51.588  2612.88    2635.79   93349.5  0.00982877
  14 │ SWE      2005-2010  70-79      0.0     92.385  1500.12    1794.68   84371.9  0.0280396
  15 │ SWE      2005-2010  80+        0.0    271.644   904.764   1567.22   63683.5  0.109889
15×8 DataFrame
 Row │ country  period     age      births         deaths    py_men     py_women   ASDR
     │ String7  String15   String7  Float64        Float64   Float64    Float64    Float64
─────┼────────────────────────────────────────────────────────────────────────────────────────
   1 │ WORLD    2005-2010  0-4          0.0        40098.4   1.6198e6   1.51227e6  0.0128025
   2 │ WORLD    2005-2010  5-9          0.0         3757.2   1.54441e6  1.44485e6  0.0012569
   3 │ WORLD    2005-2010  10-14        0.0         3247.76  1.55269e6  1.4571e6   0.00107907
   4 │ WORLD    2005-2010  15-19    73194.7         4043.2   1.59394e6  1.50949e6  0.00130282
   5 │ WORLD    2005-2010  20-24        2.19277e5   5399.35  1.50339e6  1.44289e6  0.0018326
   6 │ WORLD    2005-2010  25-29        1.90319e5   5996.75  1.33703e6  1.29485e6  0.0022785
   7 │ WORLD    2005-2010  30-34        1.14931e5   6519.38  1.25943e6  1.2251e6   0.00262398
   8 │ WORLD    2005-2010  35-39    54975.8         7238.03  1.21008e6  1.17747e6  0.00303156
   9 │ WORLD    2005-2010  40-44    17604.7         8212.6   1.10594e6  1.0821e6   0.0037534
  10 │ WORLD    2005-2010  45-49     4278.73        9709.55  9.60561e5  9.48669e5  0.00508558
  11 │ WORLD    2005-2010  50-54        0.0        11955.1   8.40308e5  8.37233e5  0.00712659
  12 │ WORLD    2005-2010  55-59        0.0        14431.1   6.81102e5  6.96281e5  0.0104772
  13 │ WORLD    2005-2010  60-69        0.0        38270.2   9.0866e5   9.82545e5  0.0202359
  14 │ WORLD    2005-2010  70-79        0.0        54685.2   5.15933e5  6.36366e5  0.0474575
  15 │ WORLD    2005-2010  80+          0.0        58928.5   1.80744e5  3.07562e5  0.120679

In [101]:
kenya_asdr_df = @chain kenya_df begin
    rename("py.men" => :py_men, "py.women" => :py_women)
    @rsubset(:period == "2005-2010")
    @rtransform begin
        :ASDR = :deaths / (:py_men + :py_women)
    end
    @select(:age, :ASDR)
end

sweden_pop_ratio_df = @chain sweden_df begin
    rename("py.men" => :py_men, "py.women" => :py_women)
    @rsubset(:period == "2005-2010")
    @transform begin
        @astable begin
            :py_total = :py_men .+ :py_women
            :pop_ratio = :py_total ./ sum(:py_total)
        end
    end
    @select(:age, :pop_ratio)
end

@chain kenya_asdr_df begin
    innerjoin(sweden_pop_ratio_df, on = :age)
    @rtransform :adj_ASDR = :ASDR * :pop_ratio
    @combine(:est_CDR = sum(:adj_ASDR))
end

1×1 DataFrame
 Row │ est_CDR
     │ Float64
─────┼───────────
   1 │ 0.0232165