# 演習問題

In [27]:
ENV["LINES"] = 10
ENV["COLUMNS"] = 1000
using DataFrames, DataFramesMeta, CSV, CategoricalArrays, Statistics, FreqTables

## 2.8.1 初期教育における少人数クラスの有効性

In [11]:
star_df = CSV.read("../../data/CAUSALITY/small-class-size/data/STAR.csv", DataFrame, missingstring=["NA"])

6325×6 DataFrame
  Row │ race    classtype  yearssmall  hsgrad   g4math   g4reading
      │ Int64?  Int64      Int64       Int64?   Int64?   Int64?
──────┼────────────────────────────────────────────────────────────
    1 │      1          3           0  missing  missing    missing
  ⋮   │   ⋮         ⋮          ⋮          ⋮        ⋮         ⋮
                                                  6324 rows omitted

In [12]:
race_d = Dict(
    1 => "white",
    2 => "black",
    3 => "others",
    4 => "hipanic",
    5 => "others",
    6 => "others",
)
classtype_d = Dict(
    1 => "small",
    2 => "normal",
    3 => "large",
)
star_df = @chain star_df begin
    @rtransform begin
        :race = ismissing(:race) ? missing : race_d[:race]
        :kinder = ismissing(:classtype) ? missing : classtype_d[:classtype]
    end
end

6325×7 DataFrame
  Row │ race     classtype  yearssmall  hsgrad   g4math   g4reading  kinder
      │ String?  Int64      Int64       Int64?   Int64?   Int64?     String
──────┼─────────────────────────────────────────────────────────────────────
    1 │ white            3           0  missing  missing    missing  large
  ⋮   │    ⋮         ⋮          ⋮          ⋮        ⋮         ⋮        ⋮
                                                           6324 rows omitted

In [20]:
@rsubset(star_df, :kinder == "small") |> describe

7×7 DataFrame
 Row │ variable    mean     min    median  max    nmissing  eltype
     │ Symbol      Union…   Any    Union…  Any    Int64     Type
─────┼─────────────────────────────────────────────────────────────────────────────
   1 │ race                 black          white         1  Union{Missing, String}
  ⋮  │     ⋮          ⋮       ⋮      ⋮       ⋮       ⋮                ⋮
                                                                     6 rows omitted

In [21]:
@rsubset(star_df, :kinder == "normal") |> describe

7×7 DataFrame
 Row │ variable    mean      min     median  max     nmissing  eltype
     │ Symbol      Union…    Any     Union…  Any     Int64     Type
─────┼────────────────────────────────────────────────────────────────────────────────
   1 │ race                  black           white          2  Union{Missing, String}
  ⋮  │     ⋮          ⋮        ⋮       ⋮       ⋮        ⋮                ⋮
                                                                        6 rows omitted

In [26]:
@chain star_df begin
    @rsubset(:kinder in ["small", "normal"])
    groupby(:kinder)
    @combine begin
        :math_33 = quantile(skipmissing(:g4math), [.33])
        :math_66 = quantile(skipmissing(:g4math), [.66])
        :reading_33 = quantile(skipmissing(:g4reading), [.33])
        :reading_66 = quantile(skipmissing(:g4reading), [.66])
    end
end

2×5 DataFrame
 Row │ kinder  math_33  math_66  reading_33  reading_66
     │ String  Float64  Float64  Float64     Float64
─────┼──────────────────────────────────────────────────
   1 │ small     694.0    726.0       705.0       741.0
   2 │ normal    696.0    724.0       705.0       740.0

In [28]:
prop(freqtable(star_df, :kinder, :yearssmall))

3×5 Named Matrix{Float64}
kinder ╲ yearssmall │          0           1           2           3           4
────────────────────┼───────────────────────────────────────────────────────────
large               │   0.315573    0.015336  0.00948617    0.012332         0.0
normal              │    0.31004   0.0150198  0.00916996   0.0126482         0.0
small               │        0.0   0.0910672    0.043004     0.03083    0.135494

In [29]:
@chain star_df begin
    groupby(:yearssmall)
    @combine begin
        :math_mean = mean(skipmissing(:g4math))
        :math_median = median(skipmissing(:g4math))
        :reading_mean = mean(skipmissing(:g4reading))
        :reading_median = median(skipmissing(:g4reading))
    end
end

5×5 DataFrame
 Row │ yearssmall  math_mean  math_median  reading_mean  reading_median
     │ Int64       Float64    Float64      Float64       Float64
─────┼──────────────────────────────────────────────────────────────────
   1 │          0    707.979        710.0       719.875           722.0
  ⋮  │     ⋮           ⋮           ⋮            ⋮              ⋮
                                                          4 rows omitted

In [30]:
@chain star_df begin
    groupby([:kinder, :yearssmall])
    @combine begin
        :math_mean = mean(skipmissing(:g4math))
        :math_median = median(skipmissing(:g4math))
        :reading_mean = mean(skipmissing(:g4reading))
        :reading_median = median(skipmissing(:g4reading))
    end
end

12×6 DataFrame
 Row │ kinder  yearssmall  math_mean  math_median  reading_mean  reading_median
     │ String  Int64       Float64    Float64      Float64       Float64
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ large            0    707.169        710.0       720.835           722.0
  ⋮  │   ⋮         ⋮           ⋮           ⋮            ⋮              ⋮
                                                                 11 rows omitted

In [37]:
@chain star_df begin
    @rsubset(:kinder in ["small", "normal"], !ismissing(:race))
    @rtransform(:isMinority = :race == "white" ? 0 : 1)
    groupby([:kinder, :isMinority])
    @combine begin
        :math_mean = mean(skipmissing(:g4math))
        :reading_mean = mean(skipmissing(:g4reading))
    end
    @orderby(:kinder, :isMinority)
end

4×4 DataFrame
 Row │ kinder  isMinority  math_mean  reading_mean
     │ String  Int64       Float64    Float64
─────┼─────────────────────────────────────────────
   1 │ normal           0    711.41        725.116
  ⋮  │   ⋮         ⋮           ⋮           ⋮
                                     3 rows omitted

In [33]:
@chain star_df begin
    @rsubset(:kinder == "normal", !ismissing(:race))
    @rtransform(:isMinority = :race == "white" ? 0 : 1)
    groupby(:isMinority)
    @combine begin
        :math_mean = mean(skipmissing(:g4math))
        :reading_mean = mean(skipmissing(:g4reading))
    end
end

2×3 DataFrame
 Row │ isMinority  math_mean  reading_mean
     │ Int64       Float64    Float64
─────┼─────────────────────────────────────
   1 │          0    711.41        725.116
   2 │          1    698.984       690.984

In [38]:
@chain star_df begin
    groupby(:kinder)
    @combine begin
        :math_hsgrad = mean(skipmissing(:hsgrad))
    end
end

3×2 DataFrame
 Row │ kinder  math_hsgrad
     │ String  Float64
─────┼─────────────────────
   1 │ large      0.839286
   2 │ small      0.83592
   3 │ normal     0.825162

In [39]:
@chain star_df begin
    groupby(:yearssmall)
    @combine begin
        :math_hsgrad = mean(skipmissing(:hsgrad))
    end
end

5×2 DataFrame
 Row │ yearssmall  math_hsgrad
     │ Int64       Float64
─────┼─────────────────────────
   1 │          0     0.828602
  ⋮  │     ⋮            ⋮
                 4 rows omitted

In [44]:
@chain star_df begin
    @rsubset(!ismissing(:race))
    @rtransform(:isMinority = :race == "white" ? 0 : 1)
    groupby([:isMinority, :kinder])
    @combine begin
        :math_hsgrad = mean(skipmissing(:hsgrad))
    end
    @orderby(:kinder, :isMinority)
end

6×3 DataFrame
 Row │ isMinority  kinder  math_hsgrad
     │ Int64       String  Float64
─────┼─────────────────────────────────
   1 │          0  large      0.878748
  ⋮  │     ⋮         ⋮          ⋮
                         5 rows omitted

## 2.8.1 同性婚に関する意見の変化

In [45]:
gay_df = CSV.read("../../data/CAUSALITY/gay-marriage/data/gay.csv", DataFrame, missingstring=["NA"])

69592×4 DataFrame
   Row │ study  treatment                          wave   ssm
       │ Int64  String                             Int64  Int64
───────┼────────────────────────────────────────────────────────
     1 │     1  No Contact                             3      5
   ⋮   │   ⋮                    ⋮                    ⋮      ⋮
                                              69591 rows omitted

In [47]:
describe(gay_df, :all)

4×13 DataFrame
 Row │ variable   mean     std       min         q25     median  q75     max                                nunique  nmissing  first       last                               eltype
     │ Symbol     Union…   Union…    Any         Union…  Union…  Union…  Any                                Union…   Int64     Any         Any                                DataType
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ study      1.14923  0.356315  1           1.0     1.0     1.0     2                                                  0  1           2                                  Int64
  ⋮  │     ⋮         ⋮        ⋮          ⋮         ⋮       ⋮       ⋮                     ⋮                     ⋮        ⋮          ⋮                       ⋮                     ⋮
                                                                                                                                                                         3 rows omitted

In [48]:
@chain gay_df begin
    @rsubset(:study == 1, :wave == 1)
    groupby(:treatment)
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
end

5×2 DataFrame
 Row │ treatment                          ssm_mean
     │ String                             Float64
─────┼─────────────────────────────────────────────
   1 │ No Contact                          3.04276
  ⋮  │                 ⋮                     ⋮
                                     4 rows omitted

In [55]:
@chain gay_df begin
    @rsubset(:study == 1, :wave in [1, 2])
    groupby([:treatment, :wave])
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
    unstack(:treatment, :wave, :ssm_mean)
end

5×3 DataFrame
 Row │ treatment                          1         2
     │ String                             Float64?  Float64?
─────┼───────────────────────────────────────────────────────
   1 │ No Contact                          3.04276   3.03961
  ⋮  │                 ⋮                     ⋮         ⋮
                                               4 rows omitted

In [56]:
@chain gay_df begin
    @rsubset(:study == 1)
    groupby([:treatment, :wave])
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
    unstack(:treatment, :wave, :ssm_mean)
end

5×8 DataFrame
 Row │ treatment                          1         2         3         4         5         6         7
     │ String                             Float64?  Float64?  Float64?  Float64?  Float64?  Float64?  Float64?
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ No Contact                          3.04276   3.03961   3.04627   3.03595   3.17427   3.09197   3.31375
  ⋮  │                 ⋮                     ⋮         ⋮         ⋮         ⋮         ⋮         ⋮         ⋮
                                                                                                 4 rows omitted

In [57]:
@chain gay_df begin
    @rsubset(:study == 2, :wave == 1)
    groupby(:treatment)
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
end

2×2 DataFrame
 Row │ treatment                          ssm_mean
     │ String                             Float64
─────┼─────────────────────────────────────────────
   1 │ No Contact                          2.97007
   2 │ Same-Sex Marriage Script by Gay …   2.97173

In [58]:
@chain gay_df begin
    @rsubset(:study == 2, :wave == 2)
    groupby(:treatment)
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
end

2×2 DataFrame
 Row │ treatment                          ssm_mean
     │ String                             Float64
─────┼─────────────────────────────────────────────
   1 │ No Contact                          2.9923
   2 │ Same-Sex Marriage Script by Gay …   3.11619

In [61]:
@chain gay_df begin
    @rsubset(:study == 2)
    groupby([:treatment, :wave])
    @combine begin
        :ssm_mean = mean(skipmissing(:ssm))
    end
    unstack(:treatment, :wave, :ssm_mean)
end

2×6 DataFrame
 Row │ treatment                          1         2         3         4         7
     │ String                             Float64?  Float64?  Float64?  Float64?  Float64?
─────┼─────────────────────────────────────────────────────────────────────────────────────
   1 │ No Contact                          2.97007   2.9923    2.95166   2.96623   3.02585
   2 │ Same-Sex Marriage Script by Gay …   2.97173   3.11619   3.10208   3.0914    3.33291

## 2.8.3 自然実験としての指導者暗殺の成功

In [63]:
leader_df = CSV.read("../../data/CAUSALITY/leader-assassination/data/leaders.csv", DataFrame, missingstring=["NA"])

250×11 DataFrame
 Row │ year   country      leadername        age    politybefore  polityafter  interwarbefore  interwarafter  civilwarbefore  civilwarafter  result
     │ Int64  String31     String31          Int64  Float64       Float64      Int64           Int64          Int64           Int64          String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  1929  Afghanistan  Habibullah Ghazi     39      -6.0         -6.0                   0              0               1              0  not wounded
  ⋮  │   ⋮         ⋮              ⋮            ⋮         ⋮             ⋮             ⋮               ⋮              ⋮               ⋮                        ⋮
                                                                                                                                                               249 rows omitted

In [64]:
describe(leader_df, :all)

11×13 DataFrame
 Row │ variable        mean     std       min                            q25      median  q75     max              nunique  nmissing  first             last                               eltype
     │ Symbol          Union…   Union…    Any                            Union…   Union…  Union…  Any              Union…   Int64     Any               Any                                DataType
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ year            1944.77  32.5056   1878                           1920.25  1949.0  1972.0  2001                             0  1929              1934                               Int64
  ⋮  │       ⋮            ⋮        ⋮                    ⋮                   ⋮       ⋮       ⋮            ⋮            ⋮        ⋮             ⋮                          ⋮                     ⋮
                                                                                                                                                                                     10 rows omitted

In [66]:
@rtransform!(leader_df, :success = occursin("die", :result) ? 1 : 0)

250×12 DataFrame
 Row │ year   country      leadername        age    politybefore  polityafter  interwarbefore  interwarafter  civilwarbefore  civilwarafter  result                             success
     │ Int64  String31     String31          Int64  Float64       Float64      Int64           Int64          Int64           Int64          String                             Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  1929  Afghanistan  Habibullah Ghazi     39      -6.0         -6.0                   0              0               1              0  not wounded                              0
  ⋮  │   ⋮         ⋮              ⋮            ⋮         ⋮             ⋮             ⋮               ⋮              ⋮               ⋮                        ⋮                     ⋮
                                                                                                                                                                        249 rows omitted

In [67]:
mean(leader_df.success)

0.216

In [71]:
@chain leader_df begin
    groupby(:success)
    @combine begin
        :polityBefore_mean = mean(:politybefore)
        :age_mean = mean(:age)
    end
end

2×3 DataFrame
 Row │ success  polityBefore_mean  age_mean
     │ Int64    Float64            Float64
─────┼──────────────────────────────────────
   1 │       0          -1.7432     52.7143
   2 │       1          -0.703704   56.463

In [72]:
@chain leader_df begin
    groupby(:civilwarbefore)
    @combine begin
        :polityBefore_mean = mean(:politybefore)
        :age_mean = mean(:age)
    end
end

2×3 DataFrame
 Row │ civilwarbefore  polityBefore_mean  age_mean
     │ Int64           Float64            Float64
─────┼─────────────────────────────────────────────
   1 │              0           -1.51531   53.9592
   2 │              1           -1.53086   51.9444

In [73]:
@chain leader_df begin
    groupby(:interwarbefore)
    @combine begin
        :polityBefore_mean = mean(:politybefore)
        :age_mean = mean(:age)
    end
end

2×3 DataFrame
 Row │ interwarbefore  polityBefore_mean  age_mean
     │ Int64           Float64            Float64
─────┼─────────────────────────────────────────────
   1 │              0          -1.66667    52.6946
   2 │              1          -0.879433   57.1064

In [74]:
@chain leader_df begin
    groupby(:success)
    @combine begin
        :polityAfter_mean = mean(:polityafter)
        :civilwarAfter_mean = mean(:civilwarafter)
        :interwarAfter_mean = mean(:interwarafter)
    end
end

2×4 DataFrame
 Row │ success  polityAfter_mean  civilwarAfter_mean  interwarAfter_mean
     │ Int64    Float64           Float64             Float64
─────┼───────────────────────────────────────────────────────────────────
   1 │       0         -1.89456             0.193878           0.168367
   2 │       1         -0.762346            0.148148           0.0740741